!!!
%html
  %head
    %title Rails settings
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand{href: "/"} Rails settings ui
      .row= yield
      %footer
